.Nav1 {
    display: flex; /* Use flexbox to arrange the Navbar elements */
    justify-content: space-between; /* Distribute the elements evenly along the main axis */
    align-items: center; /* Center the elements vertically */
    padding: 10px 20px; /* Add padding for spacing */
    background: linear-gradient(to bottom right, #000080, #000);  /* Dark background color for the Navbar */
  }
  
  .brand {
    color: #fff; /* White text color for the brand */
    font-weight: bold; /* Bold font weight for the brand */
  }
  
  .nav-link {
    color: #ffffff; /* White text color for the links */
    margin-right: 15px; /* Add some margin between the links */
  }
  
  .nav-link:hover {
    color: #46fa1e; /* Lighter text color on hover */
  }
  
  .search-form {
    display: flex; /* Use flexbox to arrange the form elements */
    margin-right: 15px; /* Add some margin between the form and the login button */
  }
  
  .search-input {
    border-radius: 20px; /* Rounded corners for the search input */
  }
  
  .search-btn {
    background-color: #007bff; /* Blue color for the search button */
    border-color: #007bff; /* Blue border color for the search button */
    margin-left: 10px; /* Add some margin between the search input and button */
  }
  
  .search-btn:hover {
    background-color: #0056b3; /* Darker blue color on hover */
    border-color: #0056b3; /* Darker blue border color on hover */
  }
  
  .login-btn {
    background-color: #28a745; /* Green color for the login button */
    border-color: #28a745; /* Green border color for the login button */
    margin-left:150px;
  }
  
  .login-btn:hover {
    background-color: #218838; /* Darker green color on hover */
    border-color: #218838; /* Darker green border color on hover */
  }
  