.Nav1{
    background-color: rgb(12, 9, 6);
    text-decoration: none;
    color: rgb(79, 38, 213);
}
.nav2{
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-weight: 40px;
    
}
.ss{
   
    margin-left: 90px;
    }
    .ss1{
        
        margin-left: 70px;
        }
        .nav10{
            text-decoration: none;
            font-family:'Times New Roman', Times, serif;
            font-weight: 40px;
            margin-left: 20px;
        }
        .nav2{
            text-decoration: none;
            font-family:'Times New Roman', Times, serif;
            font-weight: 40px;
            margin-left: 25px;
        }
        .nav3{
            text-decoration: none;
            font-family:'Times New Roman', Times, serif;
            font-weight: 40px;
            margin-left: 30px;
        }
        .nav4{
            text-decoration: none;
            font-family:'Times New Roman', Times, serif;
            font-weight: 40px;
            margin-left: 35px;
        }
        .nav5{
            text-decoration: none;
            font-family:'Times New Roman', Times, serif;
            font-weight: 40px;
            margin-left: 40px;
        }
        .nav6{
            text-decoration: none;
            font-family:'Times New Roman', Times, serif;
            font-weight: 40px;
            margin-left: 45px;
        }
        .nav7{
            text-decoration: none;
            font-family:'Times New Roman', Times, serif;
            font-weight: 40px;
            margin-left: 50px;
        }
        .nav8{
            text-decoration: none;
            font-family:'Times New Roman', Times, serif;
            font-weight: 40px;
            margin-left: 55px;
        }
        .nav9{
            text-decoration: none;
            font-family:'Times New Roman', Times, serif;
            font-weight: 40px;
            margin-left: 60px;
        }